<html>
<h1>Welcome t the world of Ansible </h1>
<h2>Welcome to host:   {{ansible_fqdn}}</h2>
<h2>Host Ip Adress :   {{ansible_all_ipv4_addresses}}</h2>
<h2>OS Family      :   {{ansible_os_family}}</h2>
</html>
